{% extends "partials/layout.html" %}

{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}

{% block banner %}
{% include "partials/banner.html" %}
{% endblock banner %}

{% block trending %}
{% include "partials/trending.html" %}
{% endblock trending %}

{% block category %}
{% include "partials/category.html" %}
{% endblock category %}

{% block recentnews %}
{% include "partials/recentnews.html" %}
{% endblock recentnews %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block script %}
{% include "partials/script.html" %}
{% endblock script %}